
$gray-medium-light: #eaeaea;

/* universal */

body {
  // padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
strong {
  font-size: 1.1em;
}

ul {
  list-style: none;
}

.container-pc {
  margin: 0 130px;
}

/* header */


/* footer */

footer {
  margin-top: 100px;
  // margin-right: 160px;
  padding-top: 20px;
  border-top: 1px solid gray;
  a {
    text-decoration: none !important;
    color: #585858;
    &:hover {
      color: red;
    }
  }
  small {
    float: left;
  }
  ul {
    float: left;
    list-style: none;
    margin-bottom: 20px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

input.cp_btn {
	position: relative;
	display: block;
	width: 240px;
	padding: 0.8em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
	background: #1A237E;
	transition: .4s;
	border-radius: 4px;
}
input.cp_btn:hover {
	text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
	transition: .4s;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.header-logo {
  width: 250px;
}